body{
text-align:center;
background-color: lightgrey;
}

.chartZone{
  width:1000px;

  
  background-color: white;
  margin: 40px auto;
  padding: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}
.infoBox{
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: black;
}

rect {
  stroke-width: 0px;
  cursor: pointer;
}

.insideInfo{
padding:10px;
  color:white;
}